.scarlet {
  text-transform: capitalize;
  background: url("/images/scarlet-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(0, 100%, 70%);
}

.mustard {
  text-transform: capitalize;
  color: black;
  background: url("/images/mustard-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(60, 100%, 40%);
}

.white {
  text-transform: capitalize;
  color: black;
  background: url("/images/white-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(0, 0%, 85%);
}

.green {
  text-transform: capitalize;
  background: url("/images/green-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(120deg 42.86% 49.37%);
}

.peacock {
  text-transform: capitalize;
  background: url("/images/peacock-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(240 100% 70% / 1);
}

.plum {
  text-transform: capitalize;
  background: url("/images/plum-avatar.jpeg");
  background-size: contain;
  border: 3px solid hsl(300deg 57.07% 60.25%);
}