.clue-chart-container {
  width: 24%;
  height: min-content;
  text-transform: capitalize;
  padding: 0.5em;

  & h3 {
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    color: #571717;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
  }
}

.character-identifier,
.item {
  display: grid;
  grid-template-columns: 45% repeat(6, 1fr);
}

.character-identifier * {
  height: 1em;
  aspect-ratio: 1/1;
  padding: 0.1em;
  margin: 0.4em;
  border: 1px solid rgb(46, 46, 46);
  border-radius: 50%;
}

.character-identifier *:first-child,
.item *:first-child {
  border: none;
}

.mustard-identifier {
  background-color: rgb(255, 204, 0);
}

.white-identifier {
  background-color: white;
}

.green-identifier {
  background-color: rgb(40, 150, 40);
}

.peacock-identifier {
  background-color: rgb(2, 111, 254);
}

.plum-identifier {
  background-color: #870cb0;
}

.scarlet-identifier {
  background-color: rgb(255, 50, 36);
}

.category-header {
  margin: 0.3em 0;
  padding: 0.2em 0em;
  padding-left: 1em;
  background-color: #752525;
  text-shadow: 1px 1px 5px black;
  color: white;
  border-radius: 3px;
}

.item {
  padding: 0.1em;
  font-size: 0.8em;
  gap: 0.2em;
  background-color: rgba(255, 255, 255, 0.331);
  border-radius: 3px;
}

.item-status {
  cursor: pointer;
  margin: 0.2em;
  height: 20px;
  aspect-ratio: 1/1;
  display: grid;
  place-content: center;
  font-size: 1em;
  border: 1px solid rgba(0, 0, 0, 0.465);
  border-radius: 50%;
  background-color: rgba(255, 255, 255);
}

.clue-category {
  display: flex;
  flex-direction: column;
  gap: 0.1em;

  & * {
    padding: 0.1em;
  }
}

.category-header,
.item-header {
  padding-left: 1em;
}

.item-header {
  text-shadow: 0px 1px 1px white;
}

.selected {
  background-color: gray;
}

.mark-popup {
  transform: translate(-25%, -25%);
  display: flex;
  gap: 0.2em;
  background-color: bisque;
  box-shadow: 0 0 3px black;
  padding: 0.2em;
  border-radius: 5px;

  & * {
    font-size: 1.1em;
    border: none;
    padding: 0.2em;
    cursor: pointer;
    background-color: bisque;
  }
}

.tick,
.tick-btn {
  color: green;
  border-color: green;
}

.tick {
  box-shadow: 0 0 5px green;
}

.cross,
.cross-btn {
  color: red;
  border-color: red;
}

.cross {
  box-shadow: 0 0 5px red;
}

#inference-container {
  display: grid;
  padding: 0 2em 0 0;
}

#clue-chart-btn {
  position: absolute;
  padding: 0.2em 0.4em;
  z-index: 2;
  cursor: pointer;
  right: -60px;
  transform: rotate(-90deg);
  align-self: center;
  border-radius: 10px 10px 0 0;
  border: 1px solid hsl(30, 45%, 80%);
  color: hsl(30, 45%, 80%);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  background-color: #752525;
  outline: none;
  font-weight: 600;
  text-shadow: 0 0 5px black;
  text-wrap: nowrap;
}

.clue-chart-container {
  position: fixed;
  border-radius: 5px;
  font-size: 0.9em;
  right: 40px;
  background-color: hsl(30, 45%, 69%);
  color: #1b1b1b;
  opacity: 1;
  transition: all 500ms ease;
  align-self: center;
  box-shadow: 0 0 40px black;
}

.collapse {
  transform: translateX(200%);
  opacity: 0;
}
