* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: whitesmoke;
}

#page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  background-color: #444;
}

#left-pane {
  height: 95%;
  display: grid;
  gap: 0.5em;
  grid-template-rows: 10% 90%;
}

#left-pane > header {
  border-bottom: 2px solid white;
}

#cluedo-logo {
  width: 100%;
  border-bottom: 1px solid white;
}

#players {
  padding-top: 2em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-pane {
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}

#board {
  width: 875px;
}

.player-info {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "icon name"
    "icon message";
}

.icon {
  grid-area: icon;
  width: 80px;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
  grid-area: name;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.message {
  position: relative;
  top: 15px;
  right: 15px;
  grid-area: message;
  padding: 2px;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: white;
  color: black;
}

.message::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -13px;
  top: -4px;
  rotate: 110deg;
}

.hide {
  display: none;
}

#right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#help {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 1em;
}

#inference-container {
  display: grid;
  grid-template-columns: 30% 70%;
}

.card {
  width: 125px;
  height: 165px;
  text-transform: capitalize;
  text-align: center;
  padding-top: 1em;
  border-radius: 5px;
  color: black;
  background-color: #ddd;
  border: 2px solid black;
}

#cards-container .card {
  cursor: pointer;
}

#cards-container .card:hover {
  z-index: 2;
  scale: 1.2;
  border: 2px solid white;
}

#cards-container {
  height: 100%;
  display: grid;
  grid-template-rows: 5% auto;
  border: 1px solid white;
}

#cards-container > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
}

#cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cards > div:nth-child(1) {
  position: absolute;
  top: 10%;
}

#cards > div:nth-child(2) {
  position: absolute;
  top: 20%;
}

#cards > div:nth-child(3) {
  position: absolute;
  top: 30%;
}

#cards > div:nth-child(4) {
  position: absolute;
  top: 40%;
}

#cards > div:nth-child(5) {
  position: absolute;
  top: 50%;
}

#cards > div:nth-child(6) {
  position: absolute;
  top: 60%;
}

#clue-chart-container {
  align-self: center;
  border: 1px solid white;
  color: black;
  background-color: hsl(60, 56%, 91%, 65%);
}

#clue-chart-container > h3 {
  text-align: center;
  padding: 0.25em 0;
  border-bottom: 1px solid white;
}

#clue-sheet {
  display: flex;
  flex-direction: column;
}

.clue-section-heading {
  padding: 0.25em 0;
  text-align: center;
  border: 1px solid white;
}

.clue-table {
  width: 100%;
  color: black;
  border-collapse: collapse;
}

.clue-table > thead :first-child {
  text-align: left;
}

.clue-table th:first-child {
  width: 30%;
}

.clue-table td,
th {
  padding: 0.25em 0.5em;
  border: 1px solid white;
}

.highlight {
  box-shadow: 0px 0px 10px 10px white;
}

#bottom-pane {
  display: flex;
  gap: 2em;
  align-items: center;
}

#dices {
  gap: 0.5em;
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.dice {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid white;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.button {
  width: 100px;
  height: 40px;
  font-size: 0.8em;
  color: white;
  border-radius: 7px;
}

#accuse-btn {
  background-color: hsl(120, 73%, 50%);
}

#end-turn-btn {
  background-color: red;
}

.button:hover {
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 28%;
  left: 27%;
  width: 550px;
  height: 350px;

  border: 2px solid black;
  border-radius: 10px;
  background-color: hsla(60, 56%, 91%, 0.956);
}

#accusation-result {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5em;
  color: black;
}

#killing-combination {
  display: flex;
  gap: 2em;
}

#accusation-popup:modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

#accusation-popup > h3 {
  color: black;
}

.selections {
  display: flex;
  gap: 1.5em;
}

select {
  text-align: center;
}

#accusation-popup #buttons {
  display: flex;
  gap: 2em;
}

#accuse-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

#accuse-form select {
  width: 100px;
  height: 30px;
  font-size: 0.8em;
  cursor: pointer;
}

#accuse-confirm-btn {
  color: darkgreen;
  background-color: lightgreen;
}

.scarlet {
  text-transform: capitalize;
  background-color: red;
}

.mustard {
  text-transform: capitalize;
  color: black;
  background-color: rgb(255, 255, 0);
}

.white {
  text-transform: capitalize;
  color: black;
  background-color: #ddd;
}

.green {
  text-transform: capitalize;
  background-color: green;
}

.peacock {
  text-transform: capitalize;
  background-color: blue;
}

.plum {
  text-transform: capitalize;
  background-color: purple;
}

.disable-click {
  pointer-events: none;
  cursor: not-allowed;
}
