@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-size: 20px;
  font-family: sans-serif;
  color: whitesmoke;
}

#page {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  background-color: #444;
}

#left-pane {
  height: 95%;
  display: grid;
  padding-top: 2em;
  gap: 0.5em;
  grid-template-rows: 10% 90%;
}

#left-pane > header {
  border-bottom: 2px solid white;
}

#cluedo-logo {
  width: 100%;
}

#players {
  padding-top: 2em;
  gap: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#middle-pane {
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

#board {
  width: 875px;
}

.player-info {
  height: 100px;
  width: 100%;
  display: grid;
  grid-template-rows: 60% 40%;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "icon name"
    "icon message";
}

.icon {
  grid-area: icon;
  width: 80px;
  aspect-ratio: 1/1;
  align-self: center;
  justify-self: center;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
  grid-area: name;
  align-self: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.message {
  position: relative;
  top: 15px;
  right: 15px;
  grid-area: message;
  padding: 2px;
  font-size: 0.7em;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background-color: white;
  color: black;
}

.message::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid white;
  border-right: 10px solid transparent;
  border-top: 10px solid white;
  border-bottom: 10px solid transparent;
  left: -13px;
  top: -4px;
  rotate: 110deg;
}

.hide {
  display: none;
}

#right-pane {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#help {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 1em;
}

#inference-container {
  display: grid;
  grid-template-columns: 25% 70%;
  gap: 5%;
}

.card {
  width: 125px;
  height: 165px;
  font-size: 0.9em;
  text-transform: capitalize;
  text-align: center;
  padding-top: 1em;
  border-radius: 5px;
  color: black;
  background-color: #ddd;
  border: 2px solid black;
}

#cards-container .card {
  cursor: pointer;
}

#cards-container .card:hover {
  z-index: 2;
  scale: 1.2;
  box-shadow: 0 0 15px 0 black;
}

#cards-container {
  height: 100%;
  display: grid;
  grid-template-rows: 5% auto;
}

#cards-container > h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
}

#cards {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#cards > .card {
  box-shadow: 1px -8px 8px #404040;
}

#cards > div:nth-child(1) {
  position: absolute;
  top: 10%;
}

#cards > div:nth-child(2) {
  position: absolute;
  top: 20%;
}

#cards > div:nth-child(3) {
  position: absolute;
  top: 30%;
}

#cards > div:nth-child(4) {
  position: absolute;
  top: 40%;
}

#cards > div:nth-child(5) {
  position: absolute;
  top: 50%;
}

#cards > div:nth-child(6) {
  position: absolute;
  top: 60%;
}

#clue-chart-container {
  align-self: center;
  border: 1px solid white;
  color: black;
  background-color: hsl(60, 56%, 91%, 65%);
}

#clue-chart-container > h3 {
  text-align: center;
  padding: 0.25em 0;
  border-bottom: 1px solid white;
}

#clue-sheet {
  display: flex;
  flex-direction: column;
}

#clue-sheet td {
  font-size: 15px;
}

.clue-section-heading {
  padding: 0.25em 0;
  text-align: center;
  border: 1px solid white;
}

.clue-table {
  width: 100%;
  color: black;
  border-collapse: collapse;
}

.clue-table > thead :first-child {
  text-align: left;
}

.clue-table th:first-child {
  width: 30%;
}

.clue-table td,
th {
  padding: 0.25em 0.5em;
  border: 1px solid white;
}

.highlight {
  box-shadow: 0px 0px 10px 10px white;
}

#bottom-pane {
  display: flex;
  height: 2.6em;
  gap: 1em;
  align-items: center;
  padding-left: 30%;
}

#dices {
  gap: 0.5em;
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.dice {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border: 1px solid white;
  color: black;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: black;
}

.button {
  width: 100px;
  height: 40px;
  font-size: 0.8em;
  color: white;
  border-radius: 7px;
}

#accuse-btn {
  border: none;
  outline: none;
  background-color: rgb(0, 186, 96);
}

#roll-dice-btn {
  border: none;
  outline: none;
  background-color: rgb(117, 117, 229);
}

#end-turn-btn {
  border: none;
  outline: none;
  background-color: hsl(0, 100%, 65%);
}

.button:hover {
  cursor: pointer;
}

.popup {
  position: absolute;
  top: 28%;
  left: 27%;
  width: 550px;
  height: 360px;

  border: 2px solid black;
  border-radius: 10px;
  background-color: hsla(60, 56%, 91%, 0.956);
}

.result-container {
  color: black;
}

.result-container:modal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.5em;
}

#killing-combination {
  display: flex;
  gap: 2em;
}

#accusation-combination,
#suspicion-combination {
  display: flex;
  gap: 2em;
}

#accusation-popup:modal,
#suspicion-popup:modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  gap: 3em;
}

#accusation-result-message {
  padding-top: 0.5em;
}

#accusation-result-close-btn,
#suspicion-pop-up-close-btn {
  background-color: orangered;
}

#accusation-result-close-btn:hover {
  cursor: pointer;
}

#accusation-popup > h3,
#suspicion-popup > h3 {
  color: black;
}

.selections {
  display: flex;
  gap: 1.5em;
}

select {
  text-align: center;
  border-radius: 6px;
  text-transform: capitalize;
  padding: 0.2em;
}

#accusation-popup #buttons,
#suspicion-popup #buttons {
  display: flex;
  gap: 2em;
}

#accuse-form,
#suspect-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3em;
}

#accuse-form select,
#suspect-form select {
  width: 130px;
  height: 30px;
  font-size: 0.8em;
  cursor: pointer;
}

#accuse-confirm-btn,
#suspect-confirm-btn {
  color: white;
  background-color: rgb(0, 186, 96);
}

.disable-click {
  pointer-events: none;
  cursor: not-allowed;
}

.stranded-player {
  filter: opacity(0.3);
}

#home {
  border: none;
  outline: none;
  background-color: green;
}

.game-over-msg,
.invalidation-msg {
  color: #444;
  text-shadow: 0 0 0 10px blueviolet;
  text-transform: capitalize;
}

.matching-card {
  cursor: pointer;
  border: 2px solid green;
}

.matching-card:hover {
  transform: scale(1.1);
}

#invalidation-confirm-btn {
  padding: 0.2em;
  border: none;
  outline: none;
  background-color: gray;
  transition: all 350ms ease-in;
}

#invalidation-confirm-btn.selected-btn {
  background-color: rgb(0, 155, 198);
}

#notification-close-btn,
#suspicion-close-btn,
#accuse-cancel-btn {
  border: none;
  outline: none;
  border-radius: 0.4em;
  background-color: rgb(254, 60, 68);
}

.invalidated-card {
  transform: scale(1.1);
  border: 2px solid green;
}

.card-selected {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 128, 0, 0.577);
}

.current-player {
  animation: blink 1.5s ease infinite;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.6;
  }
}
