@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&family=Roboto+Slab:wght@300;400;600;700&family=Titillium+Web:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

#page-wrapper {
  width: 100%;
  height: 100%;
  background-image: url(/images/play-now-page-bg-565.png);
  background-size: cover;
  display: grid;
  place-content: center;
}

.page-header {
  position: absolute;
  color: white;
  width: 100%;
  top: 4.2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.page-header h1 {
  font-weight: 300;
  text-align: center;
}

.waiting-area {
  width: 60em;
  height: 30em;
  background-color: hsl(60, 56%, 91%, 60%);
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 3em;
  padding: 3em;
}

.card {
  width: 12%;
  height: 38%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: hsl(60, 56%, 91%, 80%);
  border: 2px solid black;
}

.avatar {
  width: 80%;
}

.loader {
  font-size: 3em;
}

.lobby-details {
  display: flex;
  gap: 15em;
  justify-content: center;
  align-items: center;
}

.lobby-details > * {
  color: white;
  font-size: 1.2em;
}
