.tile {
  fill: #e6ccb2;
  border-radius: 50%;
}

.room {
  fill: #ddb892;
}

.highlight-tile {
  fill: hsl(30 52% 60%);
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  cursor: pointer;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.7;
  }
}

.start-tile {
  ry: 15;
}

#mustard-pawn {
  fill: yellow;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}

#scarlet-pawn {
  fill: red;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}

#white-pawn {
  fill: white;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}

#green-pawn {
  fill: green;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}

#peacock-pawn {
  fill: #0000ff;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}

#plum-pawn {
  fill: #800080;
  stroke: hsl(0, 0%, 30%);
  stroke-width: 20px;
}
