.tile {
  fill: url(#tile-img);
  border-radius: 50%;
}

.room {
  fill: #d09d68ff;
}

.start-tile {
  opacity: 0;
}

.highlight-tile {
  animation: pulse 1.5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  cursor: pointer;
}

@keyframes pulse {
  0%,
  100% {
    filter: brightness(1.3);
  }
  50% {
    filter: brightness(1.5);
  }
}

#mustard-pawn {
  fill: rgb(253, 211, 43);
  stroke: rgb(220, 175, 26);
  stroke-width: 20px;
}

#scarlet-pawn {
  fill: rgb(218, 89, 80);
  stroke: rgb(176, 50, 41);
  stroke-width: 20px;
}

#white-pawn {
  fill: white;
  stroke: rgb(116, 116, 123);
  stroke-width: 20px;
}

#green-pawn {
  fill: rgb(40, 150, 40);
  stroke: hsl(128, 62%, 20%);
  stroke-width: 20px;
}

#peacock-pawn {
  fill: rgb(2, 111, 254);
  stroke: rgb(0, 74, 148);
  stroke-width: 20px;
}

#plum-pawn {
  fill: #850385;
  stroke: hsl(285, 95%, 35%);
  stroke-width: 20px;
}
